body{
  margin: 0;
}
.itimatu {
  width: 100%;
  font-size: 0;
}
.sq {
  width: 20%;
  padding-top: 20%;
  display: inline-block;
  }
.aqua {
  background-color: aqua;
}
.pink {
  background-color: pink;
}
